<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="controler.js"></script>
</head>

<body>
    <div ng-app="mainApp" ng-controller="CRUDController" class="container">
            <section class="jumbotron text-center">
                    <div class="container">
                      <h1 class="jumbotron-heading">CRUD OPERATION</h1>
                     
                    </div>
            </section>
            <div class="row album py-5 bg-light">
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <form class="card-body">
                            
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="Name">
                            </div>
                            <div class="form-group">
                                    <label>Age</label>
                                    <input type="Number" class="form-control" ng-model="Age">
                                </div>
                            <div class="form-group">
                                <label>Salary</label>
                                <input type="Number" class="form-control" ng-model="Salary">
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" ng-click="AddData()" value="Add Data">
                                <input type="button" class="btn btn-primary" ng-click="UpdateData()" value="Update Data">
                            </div>
                        </form>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 box-shadow table-responsve">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Salary</th>
                                    </thead>
                                    <tbody>
                                       <tr  ng-repeat="Emp in EmpList">
                                           <td>{{Emp.Name}}</td>
                                           <td>{{Emp.Age}}</td>
                                           <td>{{Emp.Salary}}</td>
                                           <td><input type="button" class="btn btn-primary" value="Edit" ng-click="BindSelectedData(Emp)"></td>
                                           <td><input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteData()"></td>
                                       </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>
        

    </div>



</body>

</html>